**TEST CASE FOR CASHIER MODULE**

In [1]:
import cashier as c

**Test Case 1: Add item**

In [10]:
transaction_1 = c.Transaction()
transaction_1.add_item("Ayam Goreng",20_000,2)
transaction_1.add_item("Pasta Gigi",15_000,3)

Item that will be bought is Ayam Goreng with price 20000 and total item : 2
Item that will be bought is Pasta Gigi with price 15000 and total item : 3

**Test Case 2: Update item name**

In [11]:
transaction_1.update_item_name("Ayam Goreng","Tahu")
transaction_1.show_order()

Item is successfully updated to Tahu
╒═════╤════════════╤═════════════╤════════════╤═════════════╕
│ No. │ Nama Item  │ Jumlah Item │ Harga/Item │ Total Harga │
├─────┼────────────┼─────────────┼────────────┼─────────────┤
│ 1   │ Pasta Gigi │ 3           │ 15000      │ 45000       │
├─────┼────────────┼─────────────┼────────────┼─────────────┤
│ 2   │ Tahu       │ 2           │ 20000      │ 40000       │
╘═════╧════════════╧═════════════╧════════════╧═════════════╛

**Test Case 3: Update item price**

In [4]:
transaction_1.update_item_price("Tahu",7_000)
transaction_1.show_order()

Tahu price is successfully updated to 7000
╒═════╤═══════════╤═════════════╤════════════╤═════════════╕
│ No. │ Nama Item │ Jumlah Item │ Harga/Item │ Total Harga │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 1   │ Santan    │ 6           │ 5000       │ 30000       │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 2   │ Tahu      │ 5           │ 7000       │ 35000       │
╘═════╧═══════════╧═════════════╧════════════╧═════════════╛

**Test Case 4: Update total item**

In [14]:
transaction_1.update_total_item("Tahu",8)
transaction_1.show_order()

Total Tahu is successfully updated to 8
╒═════╤════════════╤═════════════╤════════════╤═════════════╕
│ No. │ Nama Item  │ Jumlah Item │ Harga/Item │ Total Harga │
├─────┼────────────┼─────────────┼────────────┼─────────────┤
│ 1   │ Pasta Gigi │ 3           │ 15000      │ 45000       │
├─────┼────────────┼─────────────┼────────────┼─────────────┤
│ 2   │ Tahu       │ 8           │ 20000      │ 160000      │
╘═════╧════════════╧═════════════╧════════════╧═════════════╛

**Test Case 5: Delete specific item**

In [6]:
transaction_1.delete_item("Santan")
transaction_1.show_order()

Item successfully deleted
╒═════╤═══════════╤═════════════╤════════════╤═════════════╕
│ No. │ Nama Item │ Jumlah Item │ Harga/Item │ Total Harga │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 1   │ Tahu      │ 5           │ 7000       │ 35000       │
╘═════╧═══════════╧═════════════╧════════════╧═════════════╛

**Test Case 6: Reset all transaction**

In [7]:
transaction_1.reset_transaction()

All transaction data successfully reset

**Test Case 7: Readd item**

In [8]:
transaction_1.add_item("Tempe",5_000,6)
transaction_1.add_item("Yoghurt",125_000,5)
transaction_1.show_order()

Item that will be bought is Tempe with price 5000 and total item : 6
Item that will be bought is Yoghurt with price 125000 and total item : 5
╒═════╤═══════════╤═════════════╤════════════╤═════════════╕
│ No. │ Nama Item │ Jumlah Item │ Harga/Item │ Total Harga │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 1   │ Tempe     │ 6           │ 5000       │ 30000       │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 2   │ Yoghurt   │ 5           │ 125000     │ 625000      │
╘═════╧═══════════╧═════════════╧════════════╧═════════════╛

**Test Case 8: Calculate all transaction**

In [9]:
transaction_1.total_transaction()

Anda mendapatkan diskon sebesar 5%, sehingga total transaksi anda adalah 622250.0