**TEST CASE FOR CASHIER MODULE**

In [1]:
import cashier as c

**Test Case 1: Add item**

In [23]:
transaction_1 = c.Transaction()
transaction_1.add_item("Sayur",3_000,5)
transaction_1.add_item("Santan",5_000,6)

Item that will be bought is Sayur with price 3000 and total item : 5
Item that will be bought is Santan with price 5000 and total item : 6

**Test Case 2: Update item name**

In [24]:
transaction_1.update_item_name("Sayur","Tahu")
transaction_1.show_order()

Item is successfully updated to Tahu
╒═════╤═══════════╤═════════════╤════════════╤═════════════╕
│ No. │ Nama Item │ Jumlah Item │ Harga/Item │ Total Harga │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 1   │ Santan    │ 6           │ 5000       │ 30000       │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 2   │ Tahu      │ 5           │ 3000       │ 15000       │
╘═════╧═══════════╧═════════════╧════════════╧═════════════╛

**Test Case 3: Update item price**

In [25]:
transaction_1.update_item_price("Tahu",7_000)
transaction_1.show_order()

Item is successfully updated to 7000
╒═════╤═══════════╤═════════════╤════════════╤═════════════╕
│ No. │ Nama Item │ Jumlah Item │ Harga/Item │ Total Harga │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 1   │ Santan    │ 6           │ 5000       │ 30000       │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 2   │ Tahu      │ 5           │ 7000       │ 35000       │
╘═════╧═══════════╧═════════════╧════════════╧═════════════╛

**Test Case 4: Update total item**

In [26]:
transaction_1.update_total_item("Santan",8)
transaction_1.show_order()

Item is successfully updated to 8
╒═════╤═══════════╤═════════════╤════════════╤═════════════╕
│ No. │ Nama Item │ Jumlah Item │ Harga/Item │ Total Harga │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 1   │ Santan    │ 8           │ 5000       │ 40000       │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 2   │ Tahu      │ 5           │ 7000       │ 35000       │
╘═════╧═══════════╧═════════════╧════════════╧═════════════╛

**Test Case 5: Delete specific item**

In [27]:
transaction_1.delete_item("Santan")
transaction_1.show_order()

Item successfully deleted
╒═════╤═══════════╤═════════════╤════════════╤═════════════╕
│ No. │ Nama Item │ Jumlah Item │ Harga/Item │ Total Harga │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 1   │ Tahu      │ 5           │ 7000       │ 35000       │
╘═════╧═══════════╧═════════════╧════════════╧═════════════╛

**Test Case 6: Reset all transaction**

In [28]:
transaction_1.reset_transaction()

All transaction data successfully reset

**Test Case 7: Readd item**

In [29]:
transaction_1.add_item("Tempe",5_000,6)
transaction_1.add_item("Yoghurt",125_000,5)
transaction_1.show_order()

Item that will be bought is Tempe with price 5000 and total item : 6
Item that will be bought is Yoghurt with price 125000 and total item : 5
╒═════╤═══════════╤═════════════╤════════════╤═════════════╕
│ No. │ Nama Item │ Jumlah Item │ Harga/Item │ Total Harga │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 1   │ Tempe     │ 6           │ 5000       │ 30000       │
├─────┼───────────┼─────────────┼────────────┼─────────────┤
│ 2   │ Yoghurt   │ 5           │ 125000     │ 625000      │
╘═════╧═══════════╧═════════════╧════════════╧═════════════╛

**Test Case 7: Calculate all transaction**

In [30]:
transaction_1.total_transaction()

Anda mendapatkan diskon sebesar 5%, sehingga total transaksi anda adalah 622250.0